/*----------------------------------------*/
/*  2. Header CSS (Header Logo Menu)
/*----------------------------------------*/
.header-logo-menu.stick {
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}
.as-mainwrapper.wrapper-boxed .header-logo-menu.stick {width: 1200px;}
.logo img {
    transition: all 0.3s ease 0s;
}
/*----------------------------------------*/
/*  2.1.1 Header Logo
/*----------------------------------------*/
.logo > a {display: inline-block;}
.logo {padding: 11px 0;  transition: all 0.3s ease 0s}
.header-logo-menu.stick .logo {padding: 6px 0}
/*----------------------------------------*/
/*  2.1.2 Header Mainmenu
/*----------------------------------------*/
.menu-dark {background: #000 none repeat scroll 0 0;}
.menu-dark.stick {background: #000 none repeat scroll 0 0;}
.menu-button-wrapper {float: right;}
.mainmenu-area, .header-login-register {display: inline-block; transition: all 0.3s ease 0s}
.header-fixed .stick .header-login-register > button:hover::after {
    border-color: rgba(0, 0, 0, 0) #d6d6d6 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.header-fixed .stick .header-login-register > button:hover {
    border-color: #d6d6d6;
    color: #666666;
}
.header-logo-menu.stick .mainmenu-area {padding: 0}
.mainmenu ul#nav li {
    display: inline-block;
    margin-right: 33px;
    position: relative;
    transition: all 0.3s ease 0s
}
.mainmenu ul#nav > li > a {
    color: #666666;
    display: block;
    font-family: "playfair_displaybold";
    font-size: 16px;
    line-height: 93px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}
.stick .mainmenu ul#nav > li > a {
    line-height: 80px;
}
.mainmenu li > a > i {
    margin-left: 6px;
    position: relative;
    top: -1px;
}
.menu-border {
    border-top: 3px solid transparent;
}
/*------------------------------------------*/
/*  Dropdown Menu
/*------------------------------------------*/
.mainmenu ul.sub-menu, .mainmenu ul.sub-menu ul.inside-menu {
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  left: -23px;
  margin: 0;
  padding: 14px 21px 16px;
  position: absolute;
  text-align: left;
  top: 100%;
  width: 190px;
  z-index: -99;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0 0 0;
        -ms-transform-origin: 0 0 0;
            transform-origin: 0 0 0;
    -webkit-transition: all 0.6s ease 0s;
            transition: all 0.6s ease 0s;
}
.mainmenu ul#nav li ul.sub-menu > li  {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}
.mainmenu ul#nav li ul.sub-menu > li a, .mega-menu a {
    color: #444444;
    display: block;
    font-size: 13px;
    font-weight: 300;
    line-height: 38px;
    text-transform: capitalize;
}
.mainmenu ul#nav li:last-child, .header-fixed .mainmenu ul#nav li:last-child {margin-right: 0}
.mainmenu > nav > ul#nav > li:hover ul.sub-menu, .mainmenu ul.sub-menu li:hover ul.inside-menu {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
    z-index: 9999;
}
.mainmenu ul.sub-menu ul.inside-menu {
    left: 169px;
    top: -2px;
    width: 195px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 0 0;
            transform-origin: 0 0 0;
    -webkit-transition: all 0.6s ease 0s;
            transition: all 0.6s ease 0s;
}
.mainmenu ul.sub-menu li:hover ul.inside-menu {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    z-index: 9999;
}
.mainmenu li > .sub-menu i {
    float: right;
    font-size: 17px;
    position: relative;
    top: 10px;
}
.mainmenu ul#nav li ul.inside-menu li {display: block}
/*----------------------------------------*/
/*  Mega Menu
/*----------------------------------------*/
.mega-menu {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    left: -23px;
    margin: 0;
    padding: 26px 21px 20px;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: -99;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0 0 0;
            transform-origin: 0 0 0;
    -webkit-transition: all 0.6s ease 0s;
            transition: all 0.6s ease 0s;
}
.mainmenu nav > ul > li:hover .mega-menu {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    z-index: 9999;
}
.mega-menu h3 {
    color: #666666;
    font-size: 12px;
    padding-bottom: 10px;
    text-transform: uppercase;
    position: relative
}
.mega-menu h3:after {
    background: #909090 none repeat scroll 0 0;
    bottom: 8px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 25px;
}
.mm-5-column {
    left: -369px;
    width: 790px;
}
.mm-4-column {
    left: -263px;
    width: 650px;
}
.mm-3-column {
  left: -177px;
  width: 532px;
}
.col-2{width: 50%}
.col-3{width: 33.333%}
.col-4{width: 25%}
.col-5{width: 20%}
/*----------------------------------------*/
/*  2.3 Header Login Register
/*----------------------------------------*/
.header-login-register{}
.header-login-register a {
    border: 2px solid #d6d6d6;
    display: block;
    line-height: 28px;
    padding: 0 18px;
}
.header-login-register li:hover a {
    color: #ffffff;
}
.header-login-register ul a i {
    font-size: 15px;
    margin-right: 10px;
}
.login {
    display: inline-block;
    margin-left: 34px;
}
.login-form {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14);
    opacity: 0;
    filter: alpha(opacity=0);
    padding: 15px 21px 30px 19px;
    position: absolute;
    right: 16px;
    text-align: left;
    top: 63px;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0 0 0;
        -ms-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        -webkit-transition: all 0.6s ease 0s;
        transition: all 0.6s ease 0s;
    width: 213px;
    z-index: -99;
}
ul.login li:hover .login-form {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
    z-index: 9999;
}
.header-login-register h4 {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 9px;
    padding-bottom: 11px;
}
.form-box {
    border: 1px solid #f3f3f3;
    border-radius: 3px;
    height: 38px;
    margin-bottom: 10px;
    position: relative;
}
.form-box:after {
    background: #f3f3f3 none repeat scroll 0 0;
    content: "";
    height: 26px;
    left: 32px;
    position: absolute;
    top: 5px;
    width: 1px;
}
.form-box > input {
    border: 0 none;
    color: #ababab;
    font-size: 12px;
    margin-left: 12px;
    width: 73%;
}
.form-box i {
    color: #909090;
    font-size: 14px;
    padding: 11px 0 0 10px;
}
.register-form > form {margin-top: 11px}
.button-box > span {padding-left: 8px}
.login-btn {
    border: 2px solid #00aff0;
    color: #ffffff;
    float: right;
    line-height: 28px;
    padding: 0 22px;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}
.header-login-register .login > li:hover a {
    color: #ffffff;
}
.header-login-register > button {
    border: 2px solid #00aff0;
    color: #ffffff;
    display: inline-block;
    font-family: "playfair_displaybold";
    font-size: 16px;
    line-height: 28px;
    margin-left: 12px;
    padding: 0 9px;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s
}
.header-login-register > button:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid;
    border-width: 4px;
    bottom: 9px;
    content: "";
    height: 0;
    left: -10px;
    position: absolute;
    width: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}
.header-login-register > button:hover:after, .header-three .header-login-register > button:hover:after, .header-four .header-login-register > button:hover:after{
    border-color: rgba(0, 0, 0, 0) #d6d6d6 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.header-login-register > button:hover, .login-btn:hover, .header-three .header-login-register > button:hover, .header-four .header-login-register > button:hover, .header-fixed .header-login-register .button-box button:hover {
    border: 2px solid #d6d6d6;
    color: #666;
    background: transparent
}
/*----------------------------------------*/
/*  2.1.3 Mobile Menu
/*----------------------------------------*/
.mobile-menu-area {display: none}
.mean-container .mean-bar:after {display: none}
.mean-container .mean-nav ul li a:hover {
    background: #fff;
}
.mean-container a.meanmenu-reveal span {background: #fff}
.mean-container .mean-nav ul li a {
    background: #ffffff none repeat scroll 0 0;
    color: #444;
    display: block;
}
.mean-container .mean-nav ul li a.mean-expand {background: none; top: -4px;}
.mean-container .mean-nav ul li a.mean-expand:hover {background: none}
.mean-container .mean-nav ul li li a {
    color: #4e4f54;
    opacity: .90;
    filter: alpha(opacity=90);
    border-top: 0;
}
.mean-container .mean-nav ul li li{background: #fff}
.mean-container a.meanmenu-reveal {color: #444}
.meanmenu-reveal.meanclose:hover {color: #000}
.mean-container a.meanmenu-reveal:hover span {background: #000}
.mean-last {margin-bottom: 20px}
.mobile-menu {position: relative}
.mean-container .mean-bar:before {
    color: #ffffff;
    content: "MENU";
    font-size: 18px;
    font-weight: 600;
    left: 0;
    position: absolute;
    top: 11px;
}
